.search-container {
    width: 100%;

    .ant-input-affix-wrapper {
        background-color: #6C757D;
        border-radius: 0 !important;
    }

    .ant-input-group-addon button {
        background-color: #6C757D;
    }
}

